<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Area For Ripal</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="/assets/css/index.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js">
    </script>
</head>
<body>
<div id="app">
    <div class="main-grid-container">
        <div class="main-grid-row1">
            <form id="form-group" onsubmit="return false">
                <div class="form-group-item1">
                    <div style="width: 500px">
                    <input type="text" name="search" v-model="searchInput">
                    <input type="submit" value="Search" v-on:click="sendData">
                    </div>
                </div>
                <div class="form-group-item2">
                    <div style="width: 250px;">
                    <label class="radiocontainer" for="bookSearch">Book
                        Search<input type="radio" name="searchOption" id="bookSearch" value="Books" v-model="searchType">
                        <span class="radiocheckmark"></span>
                    </label>
                    <label class="radiocontainer" for="stockSearch">Stock
                        Information<input type="radio" name="searchOption" id="stockSearch" value="Stocks" v-model="searchType">
                        <span class="radiocheckmark"></span>
                    </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="main-grid-row2">
            <div class="myTableContainer">
                <div class="myTable">
                    <table class="myheadertable">
                        <thead>
                        <tr class="mydataheaderrow">
                            <th is="headercell" v-for="hc in tableHeaderInfo" v-bind="hc"></th>
                        </tr>
                        </thead>
                    </table>
                    <table class="mydatatable">
                        <tbody id="search-result">
                        <tr class="mydatarow" v-for="res in searchOutput.Results" v-on:dblclick="addRowToDB(res)">
                            <td is="datacell" v-for="dc in res.celldef" v-bind="dc"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/indexFunctions.js"></script>
<script src="/assets/js/index.js"></script>
</body>
</html>