<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Area For Ripal</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="/assets/css/index.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js">
    </script>
</head>
<body>
<div id="app">
    <div class="main-grid-container">
        <div class="main-grid-row1">
            <dataform @data-received="dataReceived"></dataform>
        </div>
        <div class="main-grid-row2">
            <datagrid :table-header-info="tableHeaderInfo" :search-output="searchOutput"></datagrid>
        </div>
    </div>
</div>
<script src="/assets/js/indexFunctions.js"></script>
<script src="/assets/js/index.js"></script>
</body>
</html>