
:root {
    /*Buttons colors*/
    --color-button-background: #015965;
    --color-button-foreground: #36BBCE;

    --color-button-disable-background: #03899C;
    --color-button-disable-foreground: #1F6B75;

    /*color radio button*/
    --color-radiocheck-background: white;
    --color-radiocheck-hover: #36BBCE;
    --color-radiocheck-selected: #015965;

    /*Box colors*/

    /*Text Input Colors*/
    --color-text-background: white;
    --color-text-foreground: black;

    /*Labels and Header colors*/
    --color-text-label: #FF7A00;
    --color-text-light: #e5e5e5;

    /*Table colors */
    --color-theader-foreground: #007F16;
    --color-theader-background: #65E17B;

    /*Menu Colors*/

    /*Body background*/
    --color-text-dark: black;
    --color-page-back: #e5e5e5;
}

.main-grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: repeat(5, 20%);
    grid-row-gap: 5px;
    background: var(--color-page-back);
    justify-items: center;
}

.main-grid-row1 {
    grid-column: 2;
    grid-row: 1;
    padding: 5px;
}

.main-grid-row2 {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 2;
    grid-row-end: span 3;
}


.form-grid-3area {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-items: left;
}

.form-grid-search-row {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row: 1;
    margin: 5px;
    display: flex;
    align-items: center;

}

.form-grid-option1 {
    justify-content: left;
    color: var(--color-text-dark);
    grid-column: 1;
    grid-row: 2;
    margin: 5px;
}

.form-grid-option2 {
    justify-content: left;
    color: var(--color-text-dark);
    grid-column: 2;
    grid-row: 2;
    margin: 5px;
}

.mydataheaderrow {
    text-align: left;
    background: var(--color-theader-background);
    color: black;
    height: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
}

.mydatarow {
    text-align: left;
    padding: 5px;
    height: auto;
    font-weight: 400;
    font-size: large;
    font-family: 'Ubuntu', sans-serif;
    color: var(--color-theader-foreground);
}

tr.mydatarow:hover {
    background-color: var(--color-theader-foreground);
    color: var(--color-theader-background);
    cursor: pointer;
}

.mydatatable {
    border-collapse: collapse;
    width: 100%;
}

.myheadertable {
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: var(--color-theader-background);
    border-collapse: collapse;
}

.myTableContainer {
    overflow: hidden;
    width: auto;
    height: 200px;
    background: white;
    margin: 5px;
}

.myTable {
    width: auto;
    height: inherit;
    overflow-y: scroll;
    cursor: default;
}

.mydatacell {
    border: thin solid var(--color-theader-background);
    overflow: hidden;
}

.myheadercell {
    border: thin solid var(--color-theader-foreground);
    overflow: hidden;
    font-weight: 400;
}

input[type=submit], input[type=button] {
    width: 125px;
    height: 30px;
    border: 0;
    background: var(--color-button-background);
    color: var(--color-button-foreground);
    font-size: 16px;
}
input[type=submit]:hover:enabled, input[type=button]:hover:enabled {
    color: var(--color-button-background);
    background: var(--color-button-foreground);
 }
input[type=submit]:disabled, input[type=button]:disabled {
    background: var(--color-button-disable-background);
    color: var(--color-button-disable-foreground);
}

input[type=text], input[type=password], input[type=email] {
    width: 200px;
    height: 32px;
    font-size: 20px;
    border: none transparent;
    background: var(--color-text-background);
    color: var(--color-text-foreground);
}

label, h4 {
    color: var(--color-text-label);
}

/* The radiocontainer */
.radiocontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radiocontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radiocheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: var(--color-radiocheck-background);
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiocontainer:hover input ~ .radiocheckmark {
    background-color: var(--color-radiocheck-hover);
}

/* When the radio button is checked, add a blue background */
.radiocontainer input:checked ~ .radiocheckmark {
    background-color: var(--color-radiocheck-selected);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiocheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked ~ .radiocheckmark:after {
    display: block;
}
.radiocontainer > label {
    text-align: left;
}

/* Style the indicator (dot/circle) */
.radiocontainer .radiocheckmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--color-radiocheck-hover);
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    background: var(--color-page-back);
}
