
:root {
    --color1-dark: #007730;
    --color-medium: #228A4C;
    --color-light: #63DB93;
    --color-dark-back: #2a2a2a;
}

.main-grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: repeat(5, 20%);
    grid-row-gap: 5px;
    background: var(--color-dark-back);
    justify-items: center;
}

.main-grid-row1 {
    grid-column: 2;
    grid-row: 1;
    padding: 5px;
}

.main-grid-row2 {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 2;
    grid-row-end: span 3;
}


.form-grid-3area {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-items: left;
}

.form-grid-search-row {
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row: 1;
    margin: 5px;
}

.form-grid-option1 {
    justify-content: left;
    color: var(--color-medium);
    grid-column: 1;
    grid-row: 2;
    margin: 5px;
}

.form-grid-option2 {
    justify-content: left;
    color: var(--color-medium);
    grid-column: 2;
    grid-row: 2;
    margin: 5px;
}

.mydataheaderrow {
    text-align: left;
    background: var(--color-light);
    color: black;
    height: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
}

.mydatarow {
    text-align: left;
    padding: 5px;
    height: auto;
    font-weight: 400;
    font-size: large;
    font-family: 'Ubuntu', sans-serif;
    color: var(--color1-dark);
}

tr.mydatarow:hover {
    background-color: var(--color1-dark);
    color: var(--color-light);
    cursor: pointer;
}

.mydatatable {
    border-collapse: collapse;
    width: 100%;
}

.myheadertable {
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: var(--color-light);
    border-collapse: collapse;
}

.myTableContainer {
    overflow: hidden;
    width: auto;
    height: 200px;
    background: white;
    margin: 5px;
}

.myTable {
    width: auto;
    height: inherit;
    overflow-y: scroll;
    cursor: default;
}

.mydatacell {
    border: thin solid var(--color-light);
    overflow: hidden;
}

.myheadercell {
    border: thin solid var(--color1-dark);
    overflow: hidden;
    font-weight: 400;
}

input[type=submit], input[type=button] {
    width: 125px;
    height: 30px;
    border: 0;
    background: var(--color-medium);
    color: black;
    font-size: 16px;
}
input[type=submit]:hover:enabled{
    color: var(--color-light);
    background: var(--color1-dark);
 }
input[type=submit]:disabled{
    background: var(--color-medium);
    color: var(--color-light);
}

input[type=text], input[type=password], input[type=email] {
    width: 200px;
    height: 32px;
    font-size: 20px;
    border: none transparent;
    background: white;
    color: var(--color-medium);
}

label, h4 {
    color: var(--color-light);
}

/* The radiocontainer */
.radiocontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radiocontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radiocheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: white;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiocontainer:hover input ~ .radiocheckmark {
    background-color: var(--color-light);
}

/* When the radio button is checked, add a blue background */
.radiocontainer input:checked ~ .radiocheckmark {
    background-color: var(--color-medium);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiocheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked ~ .radiocheckmark:after {
    display: block;
}
.radiocontainer > label {
    text-align: left;
}

/* Style the indicator (dot/circle) */
.radiocontainer .radiocheckmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--color-light);
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    background: var(--color-dark-back);
}
